# BANK TRANSACTION DASHBOARD PROJECT

## Introduction

This notebook demonstrates the creation of a **dummy dataset of 5,000 unique bank transactions**\
The dataset is designed to simulate realistic financial data for use in **Power BI dashboards**

**Objectives:**
- Showcase ability to generate and wrangle data using python
- Prepare a dataset with multiple dimensions for rich analysis
- Provide recruiters with a clear end-to-end workflow: from data generation to dashboard-ready dataset

The dataset includes:
- TransactionID, Date, CustomerID, TransactionType, Channel, Amount, Segment
- Branch, MerchantCategory, PaymentMethod, Currency, Status, TimeOfDay

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Number of rows
n = 9999

In [4]:
# Generate random dates in 2025
dates = pd.date_range("2025-01-01","2025-12-31")

In [5]:
# Random Transaction per Days
daily_counts = np.random.randint(1, 51, size=len(dates))

In [6]:
scale_factor = n / daily_counts.sum()
daily_counts = (daily_counts * scale_factor).astype(int)

In [7]:
diff = n - daily_counts.sum()
daily_counts[0] += diff

In [9]:
transaction_dates = []
for date, count in zip(dates, daily_counts):
    transaction_dates.extend([date] * count)

In [10]:
transaction_dates = transaction_dates[:n]

In [11]:
# Unique Transaction IDs (BTD00001 - BTD05000)
transaction_ids = [f"BTD{str(i).zfill(5)}" for i in range(1, n+1)]

In [12]:
# Unique Customer IDs (ASR0001 - ASR5000)
random_customers = [f"ASR{str(np.random.randint(1, 10000)).zfill(4)}" for _ in range(n)]

In [13]:
# Transaction Types
transaction_types = ["Transfer","Payment","Withdrawal","Deposit"]
random_types = np.random.choice(transaction_types, n, replace=True)

In [14]:
# Channels
channels = ["ATM","Mobile Apps","Internet Banking","Teller"]
random_channels = np.random.choice(channels, n, replace=True)

In [15]:
# Segments
segments = ["Regular","Premium","Corporate"]
random_segments = np.random.choice(segments, n, replace=True)

In [16]:
# Branches
branches = ["Jakarta","Bandung","Surabaya","Medan","Palembang","Pontianak","Balikpapan","Makassar","Manado","Jayapura","Denpasar"]
random_branches = np.random.choice(branches, n, replace=True)

In [17]:
# Merchant Categories
merchant_categories = ["Food","Fashion","Utilities","Entertainment","Electronics"]
random_merchants = np.random.choice(merchant_categories, n, replace=True)

In [18]:
# Payment Methods
payment_methods = ["Debit Card","Credit Card","QRIS","Virtual Account"]
random_methods = np.random.choice(payment_methods, n, replace=True)

In [19]:
# Currencies
currencies = ["IDR","USD","EUR","JPY","CNY","SAR","AUD","SGD","MYR","THB","KRW"]
random_currencies = np.random.choice(currencies, n, replace=True)

In [20]:
# Status
statuses = ["Success","Pending","Failed"]
random_statuses = np.random.choice(statuses, n, replace=True)

In [21]:
# Time of Day
time_of_day = ["Morning","Afternoon","Evening","Night"]
random_times = np.random.choice(time_of_day, n, replace=True)

In [22]:
# Amounts
random_amounts = np.random.randint(10000, 15000000, n)

In [23]:
# Apply rules: If currency = IDR, amount must be multiple of 500
for i in range(n):
    if random_currencies[i] == "IDR":
        random_amounts[i] = (random_amounts[i] // 500) * 500

In [24]:
# Combine into DataFrame
df = pd.DataFrame({
    "TransactionID": transaction_ids,
    "Date": transaction_dates,
    "CustomerID": random_customers,
    "TransactionType": random_types,
    "Channel": random_channels,
    "Amount": random_amounts,
    "Segment": random_segments,
    "Branch": random_branches,
    "MerchantCategory": random_merchants,
    "PaymentMethod": random_methods,
    "Currency": random_currencies,
    "Status": random_statuses,
    "TimeOfDay": random_times
})

In [25]:
# Preview
df.head()

,TransactionID,Date,CustomerID,TransactionType,Channel,Amount,Segment,Branch,MerchantCategory,PaymentMethod,Currency,Status,TimeOfDay
0,BTD00001,2025-01-01,ASR2775,Payment,ATM,13106457,Regular,Manado,Electronics,QRIS,CNY,Success,Afternoon
1,BTD00002,2025-01-01,ASR5494,Payment,Mobile Apps,8706522,Corporate,Pontianak,Entertainment,Debit Card,THB,Failed,Morning
2,BTD00003,2025-01-01,ASR9463,Deposit,Internet Banking,26063,Corporate,Makassar,Electronics,Debit Card,USD,Pending,Evening
3,BTD00004,2025-01-01,ASR3073,Payment,Teller,14307685,Premium,Balikpapan,Electronics,QRIS,KRW,Pending,Morning
4,BTD00005,2025-01-01,ASR1122,Transfer,Teller,12290606,Regular,Pontianak,Electronics,Virtual Account,JPY,Pending,Morning

In [27]:
df.tail()

,TransactionID,Date,CustomerID,TransactionType,Channel,Amount,Segment,Branch,MerchantCategory,PaymentMethod,Currency,Status,TimeOfDay
9994,BTD09995,2025-12-31,ASR9516,Withdrawal,Mobile Apps,14057386,Corporate,Palembang,Food,Virtual Account,MYR,Pending,Morning
9995,BTD09996,2025-12-31,ASR3642,Payment,Internet Banking,1883915,Regular,Jayapura,Fashion,Debit Card,JPY,Success,Night
9996,BTD09997,2025-12-31,ASR7900,Payment,Teller,196409,Premium,Makassar,Electronics,Credit Card,USD,Success,Night
9997,BTD09998,2025-12-31,ASR4557,Deposit,Teller,4166018,Regular,Balikpapan,Entertainment,QRIS,MYR,Failed,Afternoon
9998,BTD09999,2025-12-31,ASR0011,Withdrawal,Internet Banking,14993915,Premium,Jayapura,Electronics,Credit Card,KRW,Pending,Morning

In [28]:
df.to_csv("../a/bank_transaction_2025.csv", index=False)

## Conclusion

This notebook successfully generated a **5,000-row dummy dataset of bank transaction for the year 2025**\
The dataset includes multiple dimensions such as transaction type, channel, customer segment, branch, merchant category, payment method, currency, status, and time of day

**Key Enhancements in This Notebook:**
- Expanded currency support: Expanded currency support: IDR, USD, EUR, JPY, CNY, SAR, AUD, SGD, MYR, THB
- Applied a business rule: all transaction amounts in **IDR** are guaranteed to be multiples of 50.
- Ensured uniqueness of rows with structured TransactionID and CustomerID fields

**Why This Matter?**
- The dataset is realistic enough to simulate financial analytics scenarios in fintech.
- Multi-currency support allows for broader insights and international transaction analysis.
- The IDR-specific rule demonstrates attention to domain logic and data integrity.

**Next Steps:**
- Import `bank_transaction_2025.csv` into Power BI.
- Build visuals such as KPI cards, daily/monthly trends, transaction type breakdown, channel analysis, customer segment performance, and currency-based insights.
- Publish the dashboard and share it as part of a professional portfolio on GitHub/LinkedI

This notebook highlights both **technical skills (Python, data wrangling, rule-based generation)** and **business-oriented thinking (multi-currency, fintech KPIs)**, making it a strong portfolio project for recruiters